# Modify by lishaoxiong for fixed no bootup audio by changed user from graphics to media 2017-03-16.
service bootanim /system/bin/bootanimation
    class core
    user media
    group graphics audio
    disabled
    oneshot
    writepid /dev/stune/top-app/tasks

on property:service.bootanim.exit=0 && property:init.svc.bootanim=stopped
    start bootanim
